.home {
  .home__header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0px 4px 114px rgba(0, 0, 0, 0.04);
    background: #fff;
    z-index: 100;
    border-bottom: 1px solid #e8e8e8;
    &-content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 2.5rem 6rem;
      @include respond(tab-port) {
        padding: 2rem;
      }
    }
    &-logo-cont {
      display: flex;
      align-items: center;
      &-img-cont {
        width: 5rem;
        height: 5rem;
        border-radius: 50%;
        overflow: hidden;
        margin-right: 1.5rem;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      &-name {
        font-size: 1.8rem;
        font-weight: bold;
      }
    }
    &-info {
      font-size: 1.5rem;
      text-transform: uppercase;
      @include respond(phone) {
        display: none;
      }
      &-bd {
        margin-left: 3rem;
        font-weight: bold;
        text-decoration: underline;
      }
    }
  }
  &__hero {
    position: relative;
    height: 100vh;
    background: rgba(255, 122, 0, 0.04);
    &-content {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 90%;
      max-width: 70rem;
      @include respond(phone) {
        top: 55%;
      }
    }
  }
  &__info {
    padding: 12rem 0;
    background: #fff;
    @include respond(phone) {
      padding: 6rem 0;
    }
    &-content {
      display: grid;
      grid-template-columns: 1fr 1.5fr;
      grid-gap: 3rem;
      @include respond(tab-port) {
        grid-template-columns: 1fr;
      }
      &-sub {
        padding: 0 0 0 0;
      }
      &-main {
        &-desc {
          font-size: 2.2rem;
          line-height: 2;
          font-weight: 700;
          @include respond(phone) {
            font-size: 1.8rem;
          }
          &-hl {
            color: #ff7a00;
            display: inline;
            margin-left: 5px;
          }
        }
        &-services {
          margin-top: 8rem;
          display: grid;
          grid-template-columns: 1fr 1fr;
          grid-gap: 2.5rem;
          @include respond(tab-port) {
            margin-top: 5rem;
          }
          @include respond(phone) {
            grid-template-columns: 1fr;
          }
          &-item {
            background: #fff;
            padding: 4rem 3rem;
            box-shadow: 0px 4px 102px rgba(0, 0, 0, 0.04);
            border-radius: 1rem;
            border: 1px solid #e8e8e8;
            &-title {
              font-size: 2.5rem;
              color: #2f2f2f;
              font-weight: 700;
              margin-bottom: 2rem;
            }
            &-desc {
              font-size: 1.6rem;
              line-height: 1.7;
            }
          }
        }
      }
    }
  }
  &__skills {
    padding: 5rem 0 12rem 0;
    background: #fff;
    @include respond(phone) {
      padding: 3rem 0 6rem 0;
    }
    &-content {
      display: grid;
      grid-template-columns: 1fr 1.5fr;
      grid-gap: 3rem;
      @include respond(tab-port) {
        grid-template-columns: 1fr;
      }
      @include respond(phone) {
        gap: 5rem;
      }
      &-sub {
        padding: 0 0 0 0;
      }
    }
    &-list {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      grid-gap: 2rem 1.5rem;
      @include respond(tab-port) {
        display: flex;
        flex-wrap: wrap;
      }
      &-item {
        padding: 1.2rem 7px;
        text-align: center;
        background: #f6f6f6;
        font-weight: bold;
        font-size: 1.3rem;
        text-transform: uppercase;
        border-radius: 100px;
        box-shadow: 0px 4px 114px rgba(0, 0, 0, 0.04);
        letter-spacing: 1px;
        @include respond(tab-port) {
          padding: 1.5rem 4rem;

          margin-right: 2rem;
          margin-bottom: 2rem;
        }
        @include respond(phone) {
          padding: 1rem 2rem;
          font-size: 1.3rem;
          margin-right: 1rem;
          margin-bottom: 1rem;
        }
      }
    }
  }
  &__projects {
    padding: 5rem 0 12rem 0;
    @include respond(phone) {
      padding: 4rem 0 6rem 0;
    }
    &-list {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 5rem;
      margin-top: 7rem;
      @include respond(tab-land) {
        grid-template-columns: 1fr 1fr;
      }
      @include respond(tab-port) {
        margin-top: 5rem;
        grid-gap: 4rem;
      }
      @include respond(phone) {
        grid-template-columns: 1fr;
      }
      &-item {
        padding: 1rem 1rem 3rem 1rem;
        border-radius: 1rem;
        box-shadow: 0px 10px 100px rgba(0, 0, 0, 0.1);
        background: #fff;
        border-bottom: 1px solid #e8e8e8;
        &-img-cont {
          border-radius: 1rem;
          overflow: hidden;
          margin-bottom: 3rem;
          img {
            width: 100%;
          }
        }
        &-title {
          font-size: 2.2rem;
          margin-bottom: 1.5rem;
          padding: 0 1rem;
        }
        &-desc {
          font-size: 1.8rem;
          line-height: 1.6;
          padding: 0 1rem;
          color: #333;
        }
      }
    }
  }
  &__brands {
    padding: 5rem 0 12rem 0;
    @include respond(phone) {
      padding: 4rem 0 6rem 0;
    }
    &-content {
      max-width: 70rem;
      margin: auto;
      text-align: center;
    }
    &-list {
      margin-top: 8rem;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 5rem;
      align-items: center;
      @include respond(phone) {
        margin-top: 4rem;
        grid-gap: 2rem;
      }
      &-item {
        img {
          width: 100%;
        }
      }
    }
  }
  &__contact {
    padding: 5rem 0 12rem 0;
    @include respond(phone) {
      padding: 5rem 0 8rem 0;
    }
    &-content {
      max-width: 70rem;
      margin: auto;
    }
  }
}

.info-cta {
  text-align: center;
  &__title {
    font-size: 6rem;
    margin-bottom: 1rem;
    color: #232323;
    @include respond(phone) {
      font-size: 4.5rem;
    }
  }
  &__title-sm {
    font-size: 5rem;
    margin-bottom: 3rem;
    color: #232323;
    line-height: 1.2;
    @include respond(phone) {
      font-size: 4rem;
    }
  }
  &__desc {
    font-size: 1.8rem;
    line-height: 1.7;
    margin-bottom: 4rem;
    @include respond(phone) {
      font-size: 1.6rem;
    }
  }
  &__form {
    display: flex;
    width: 90%;
    margin: auto;
    background: #fff;
    box-shadow: 0px 1px 86px rgba(41, 41, 41, 0.04);
    border-radius: 100px;
    padding: 0rem;
    padding: 8px;
    overflow: hidden;
    @include respond(phone) {
      width: 100%;
    }
    &-border {
      border: 1px solid #e5e5e5;
    }
    &-input {
      padding: 2rem 3rem;
      border: none;
      width: 75%;
      font-size: 1.8rem;
      color: grey;
      @include respond(phone) {
        width: 65%;
        padding: 1.7rem 2rem;
      }

      /* Code for Modern Browsers */
      &::placeholder {
        color: #9c9c9c;
        font-size: 1.8rem;
      }

      /* Code for WebKit, Blink, Edge */
      &::-webkit-input-placeholder {
        color: #9c9c9c;
        font-size: 1.8rem;
      }

      /* Code for Internet Explorer 10-11 */
      &:-ms-input-placeholder {
        color: #9c9c9c;
        font-size: 1.8rem;
      }

      /* Code for Microsoft Edge */
      &::-ms-input-placeholder {
        color: #9c9c9c;
        font-size: 1.8rem;
      }

      /* Code for Mozilla Firefox 4 to 18 */
      &:-moz-placeholder {
        opacity: 1;
        color: #9c9c9c;
        font-size: 1.8rem;
      }

      /* Code for Mozilla Firefox 19+ */
      &::-moz-placeholder {
        opacity: 1;
        color: #9c9c9c;
        font-size: 1.8rem;
      }
    }
    &-btn {
      width: 25%;
      border-radius: 100px;
      font-size: 1.8rem;
      background: #ff7a00;
      color: #fff;
      font-weight: bold;
      letter-spacing: 1px;
      @include respond(phone) {
        width: 35%;
      }
    }
  }
}

.section-heading-prim {
  &-main {
    font-size: 5rem;
    display: block;
    font-weight: bold;
  }
  &-sub {
    font-size: 2.02rem;
    font-weight: 500;
  }
}

.section-heading-sec {
  &-main {
    font-size: 3rem;
    display: block;
    font-weight: bold;
  }
}

.footer__main-footer {
  padding: 8rem 0;
  border-top: 1px solid #e8e8e8;
  &-content {
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr;
    grid-gap: 3rem;
    @include respond(tab-port) {
      grid-template-columns: 1fr;
    }
  }

  &-content-user {
    @include respond(tab-port) {
      margin-bottom: 2rem;
    }
  }
  &-content-user-main {
    display: flex;
    align-items: center;
    margin-bottom: 3rem;
    &-img-cont {
      width: 6rem;
      height: 6rem;
      border-radius: 50%;
      overflow: hidden;
      margin-right: 1.5rem;
      display: block;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    &-name {
      font-size: 2.5rem;
      font-weight: bold;
    }
  }

  &-content-user-info {
    font-size: 1.5rem;
    text-transform: uppercase;
    &-item {
      display: block;
      &:first-child {
        margin-bottom: 1rem;
      }
    }
    &-item-hl {
      font-weight: bold;
      text-decoration: underline;
    }
  }
  &-content-nav-cont {
    @include respond(tab-port) {
      margin-bottom: 2rem;
    }
  }
  &-content-nav {
    margin-top: 1rem;

    &-title {
      font-weight: bold;
      font-size: 2rem;
      margin-bottom: 2rem;
    }
    &-links-cont {
      display: flex;
      flex-wrap: wrap;
    }
    &-link {
      font-size: 1.7rem;
      margin-right: 1.5rem;
      margin-bottom: 1.5rem;
    }
  }
  &-content-final-msg {
    &-title {
      text-align: right;
      font-weight: 700;
      font-size: 2rem;
      margin-bottom: 2rem;
      @include respond(tab-port) {
        text-align: left;
      }
    }
    &-desc {
      text-align: right;
      line-height: 1.6;
      font-size: 1.5rem;
      @include respond(tab-port) {
        text-align: left;
      }
    }
  }
}
