.main-container {
  max-width: 120rem;
  width: 90%;
  margin: auto;
}

.clr-wht {
  color: #fff !important;
}

.clr-lt-wht {
  color: rgb(210, 210, 210) !important;
}

.bg-dark-bl {
  background: #000 !important;
}
.bg-med-bl {
  background: #111 !important;
}

.bg-avg-bl {
  background: #222 !important;
}

.bg-cmn-bl {
  background: #333 !important;
}

.bg-lt-bl {
  background: #444 !important;
}

.bg-glass-wht {
  background: rgba(255, 255, 255, 0.2) !important;
}

.bd-btm-lt-bl {
  border-bottom: 1px solid #444 !important;
}


.bd-top-lt-bl {
  border-top: 1px solid #444 !important;
}

.bd-lt-bl {
  border: 1px solid #444 !important;
}

.bd-none {
  border: none !important;
}
